<legend>最新照片</legend>
<!-- 广告轮播 -->
<div id="ad-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
     
            <li data-target="#ad-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#ad-carousel" data-slide-to="1"></li>
            <li data-target="#ad-carousel" data-slide-to="2"></li>
            <li data-target="#ad-carousel" data-slide-to="3"></li>
            <li data-target="#ad-carousel" data-slide-to="4"></li>

    </ol>
    
            {% for img in album %}
                {% if tot == {{album.1}} %}
                    <div class="item ">
                    <a href="{{img.img_url}}" data-lightbox="example-set">
                        <img src="{{img.img_url}}" class="center-block" height="240px" style="height: 240px">
                    </a>
                </div>
                {% else %}
                    <div class="item active">
                        <a href="{{img.img_url}}" data-lightbox="example-set">
                            <img src="{{img.img_url}}" class="center-block" height="240px" style="height: 240px">
                        </a>
                    </div>
                {% endif %}

            {% endfor %}

        




    <a class="left carousel-control" href="#ad-carousel" data-slide="prev"><span
        class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#ad-carousel" data-slide="next"><span
        class="glyphicon glyphicon-chevron-right"></span></a>

</div>
